/* Remember: last-declared rule is applied! */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Background*/
    background-image: repeating-linear-gradient(
    45deg,
    hsl(0, 6%, 79%) 0, hsl(0, 6%, 79%) 100px,
    hsl(0, 6%, 90%) 100px, hsl(0, 6%, 90%) 200px
    );
}

h1 {
    font-size:1.3em;
}

h2 {
    font-size:1.2em;
}
h3 {
    font-size:1.1em;
}

a {
    text-decoration: none;
    color: white;
}

header {
    background: #111111;
    color: white;
    text-align: center;
    padding: 1em 0;
}

footer {
    background-color: #111111;
    color: white;
    text-align: left;
    padding: 0.5em;
    padding-left: 2em;
    width: 100%;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1.4em;
}

/* Media query for viewports less than 600px wide */
@media (max-width: 600px) {
    .container {
        margin-left: 2%;
        margin-right: 2%;
    }
    footer {
        font-size: 1em;
    }
}

/* Media query for viewports between 600px and 900px wide */
@media (min-width: 600px) and (max-width: 900px) {
    .container {
        margin-left: 10%;
        margin-right: 10%;
    }
    footer {
        font-size: 1em;
    }
}


